{% extends "base.html" %}

{% block content %}
{% if hw is mapping %}
<h1>Домашние задания {{ hw["grade"]["name"] }} класса</h1>
{% else %}
<h1>Домашние задания {{ hw[0]["grade"]["name"] }} класса</h1>
{% endif %}
<br>
    {% if hw is mapping %}
    <h2>{{ hw["sub"]["name"] }}</h2>
          {{ hw['text'] }}
          <br>
          {% if hw['img_links'] %}
          {% for img_link in hw['img_links'] %}
            <img src="/content/{{img_link}}">
          {% endfor %}
          {% endif %}
          <br>
          Опубликовал(а) {{ hw['author']['name'] }} {{ hw['author']['surname'] }} {{ hw['creat_time'] }}
        </div>
  {% else %}
    {% for homework in hw %}
    <h2>{{ homework["sub"]["name"] }}</h2>
    <div>
      {{ homework['text'] }}
      <br>
      {% if homework['img_links'] %}
      {% for img_link in homework['img_links'] %}
        <img src="/content/{{img_link}}">
      {% endfor %}
      {% endif %}
      <br>
      Опубликовал(а) {{ homework['author']['name'] }} {{ homework['author']['surname'] }} {{ homework['creat_time'] }}
    </div>
    {% endfor %}
    {% endif %}
{% endblock %}